body {
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: cadetblue;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 20px;
  margin: 5px;
}
span {
  font-size: medium;
}

input {
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

.completed {
  text-decoration: line-through;
}
